/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 9999;
    background-color: #fff;
}
.loadingIcon{
    width: 300px;
    height: 300px;
    margin-top: 30vh;
}
.container-fluid {
    background-color: white;
}
.backgroundWhite{
	background-color: white;
}
.navbar{
    background-color: #5b2d2d;	
}
.menuIcon{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.fitness_text{
	font-size: 1.5em;
    font-family: Avenir;
    color: white;
}

#openNav{
	color: white;
}

#crossSign{
	margin-left: 95%;
}
.backArrow{
	color: white;
	font-size: 10em;
}

.searchByCategory{
	font-size: 1em;
    font-family: Avenir;
}

.img-responsive{
	min-width: 100%;
	height: auto;
	
	-webkit-filter: contrast(180%);
	-webkit-filter: brightness(50%);
}

.img-sidebar-background{
	min-width: 50%;
	height: auto;
	
	-webkit-filter: contrast(180%);
	-webkit-filter: brightness(50%);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 8px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    font-family: Avenir;
    -webkit-filter: brightness(200%);

}

.text-justify{
	justify-content: left;
	font-size: 1em;
}

.sidebar-top-text{
	position: absolute;
    top: 2%;
    left: 5%;
    transform: translate(20%, 20%);
    font-size: 2em;
    font-family: Avenir;
    -webkit-filter: brightness(200%);
}

.sidebar-central-text{
	position: absolute;
    top: 9%;
    left: 5%;
    transform: translate(20%, 20%);
    font-family: Avenir;
    font-size: 1em;
    -webkit-filter: brightness(200%);  
}

.addInformation-plusSign{
	height: 50px;
	width: 50px;
	
}

.sidebar-bottom-text{
	position: absolute;
    top: 25%;
    left: 5%;
    transform: translate(20%, 20%);
    font-size: 1em;
    font-family: Avenir;
    -webkit-filter: brightness(200%);
}

.invisible-user{
	height: 220px;
	width: 250px;
	margin-right: 50px;
}

.sidebar-last-text{
	position: absolute;
    top: 28%;
    left: 0%;
    transform: translate(20%, 30%);
    font-size: 1.5em;
    font-family: Avenir;
    -webkit-filter: brightness(200%);
}

.text-kripesh{
	margin-top: 50px;
}

.cardio-image{
	min-width: 100%;
	min-height: 100%;
}

.cardio-text{
	text-align: center;
	/*margin-left: 10%;*/
	font-family: Avenir;
	font-size: 1.5em;
}
.cardio-mainText{
	text-align: center;
	/*margin-left: 30%;*/
	font-family: Avenir;
	font-size: 1.5em;
}

.categoryBox{
    color: white;
    background-color: #E8E8E8;
}
.categoryBox:hover{
    opacity: 0.8;
}
.categoryBox a:hover{
    color: white;
}
#navbar{
    display: none;
}

/*@media screen and (max-width: 600px){
    .loadingIcon{
        margin-top: 80vh;
    }
}*/